<div ng-controller="searchController">
    <div class="form-inline">
        <div class="form-group">
            <div>
                <input class="form-control" ng-model="text" placeholder="IP" />
            </div>
        </div>
        <div class="form-group">
            <div>
                <button class="btn-search" ng-click="findIp(text)">Search</button>
            </div>
        </div>
    </div>
    <div>
        <div ng-if="data !== null">
            Results for {{text}}
            <br>
            Range IP: {{data.location.range_ip}}
            <br>
            Postal: {{data.location.postal}}
            <br>
            Region: {{data.location.region}}
            <br>
            Country: {{data.location.country}}
            <br>
            City: {{data.location.city}}
            <br>
            Organization: {{data.location.org}}
            <br>
            Latitude: {{data.location.lat}}
            <br>
            Longitude: {{data.location.lng}}
        </div>
    </div>
</div>